body{
    background-image: url('../cover.jpeg') ;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
    min-height: 100px;
    padding:0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
* 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}
.nav{
  background-color: rgba(0, 0, 0, 0.2);
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  box-sizing: border-box;
  box-shadow: 8px 8px 12px #000;
}
.nav h1{
  width: 210px;
  padding-left: 25px;
  /* color: black; */
  font-size: 30px;
}
.nav .menu{
  list-style: none;
  display: flex;
  /* margin-right:20px; */
  padding: 0;
  margin: 16px 20px 16px 0;
}
.nav .menu .menu-item{
  list-style: none;
  width: 150px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  list-style: none;
  border-radius: 10px;
  overflow: hidden;
}
.nav .menu .menu-item a{
  text-decoration: none;
  color: white;
  font-size: 17px;
  width: 150px;
  height: 55px;
  display: block;
  overflow: hidden;
}
/* .nav .menu .menu-item:hover{
  background: linear-gradient(to left, #3c00a7, #ce51e466);
  background: linear-gradient(to left, #3c00a7, #ce51e4d1);
} */
.nav .menu .menu-item:hover:nth-child(1){
  /* background: linear-gradient(to left, #3c00a7, #ce51e466); */
  border-top: 4px solid #fff;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
}
.nav .menu .menu-item:hover:nth-child(2){
  /* background: linear-gradient(to left, #3c00a7, #ce51e4d1); */
  border-top: 4px solid #fff;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
}
.nav .menu .menu-item:hover:nth-child(3){
  /* background: linear-gradient(to left, #3c00a7, #ce51e466); */
  border-top: 4px solid #fff;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
}
.nav .menu .menu-item:hover:nth-child(4){
  /* background: linear-gradient(to left, #3c00a7, #ce51e466); */
  border-top: 4px solid #fff;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
}
.nav .menu .menu-item:hover .submenu{
  display: block;
}
.submenu-item{
  list-style: none;
  width: 100%;
  height: 55px;
  box-sizing: border-box;
  border-radius: 10px;
}
.submenu-item:hover{
  background-color: rgba(0, 0, 0, 0.6);
  border-left: 4px solid rgba(450, 0, 60, 0.8);
}
.login-link{
  text-align: center;
  margin-right: 40px;
}
.login-icon{
  font-size: 25px;
  color: #fff;
}
.submenu{
  display: none;
  position: absolute;
  width: 150px;
  background-color: rgba(0, 0, 0, 0.8);
  text-transform: none;
  z-index: 2;
  padding: 0;
  box-sizing: border-box;
  border-radius: 10px;
}
.logo-pic{
  width: 150px;
  height: 55px;
  margin-top: 5px;
  border-radius: 10px;
}

.shadow .img{
  width: 70%;
  margin-left: 20%;
}

.shadow .video {
    width: 70%;
    margin-left: 15%;
  }
.shadow h2{
    max-width: 1000px;
    text-shadow:8px 8px 50px #000;
    text-align: center;
    font-size: 50px;
    font-weight: 500px;
    /* color: rgba(255, 255, 255, 0.884); */
    color: rgb(255, 255, 255);
    padding: 20px 50px;
    margin-left: 13%;
}
.i{
    color: rgb(255, 0, 0);
}
.k{
    color: rgb(0, 4, 255);
}

.l{
    color: rgb(132, 0, 255);
}

.shadow .details .one h3{
    font-size: 30px;
    font-weight: 100px;
    color: rgb(34, 81, 235);
    align-items: center;
    display: flex;
  
  }
  

  .pubg .information .download h3{
    font-size: 30px;
    font-weight: 100px;
    color: rgb(255, 4, 4);
    align-items: center;
    display: flex;
  }
  
  .shadow .details .one p {
    font-size: 25px;
    color: rgb(255, 255, 255);
    display: flex;
  }
 
  .pubg .information .download p{
    font-size: 25px;
    color: rgb(255, 255, 255);
    display: flex;
  }
  
  .googel-play{

      color: rgb(34, 138, 235);
  }


  .footer{
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    height: 280px;
    width: 100%;
    position: relative;
  }
  .footer .footer-content{
    height: 238px;
    /* border: 1px solid red; */
    display: flex;
  }
  .footer .footer-content .footer-section{
    flex: 1;
    /* border-left: 1px solid rgba(255, 255, 255, 0.3); */
    padding: 0 15px 0 20px;
  }
  .footer .footer-content h1{
    color: white;
    display: block;
    margin: 10px 0 10px 0;
  }
  hr{
    width: 100%;
    border: 1px solid #f00;
    margin: 8px 0 8px 0;
  }
  .footer .footer-content .about p{
    margin: 16px 0 16px 0;
  }
  .footer .footer-content .about .contact span{
    display: block;
    font-size: 1.1em;
    margin-bottom: 8px;
  }
  .footer .footer-content .about .social-footer{
    text-align: center;
    display: flex;
  }
  .footer .footer-content .about .social-footer a{
    width: 45px;
    height: 45px;
    font-size: 25px;
    margin-right: 15px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-decoration: none;
    color: red;
    transition: 0.5s;
    opacity: 1;
  }
  .footer .footer-content .about .social-footer a:hover{
    color: white;
  }
  .footer .footer-content .about .social-footer a:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    border-radius: 50%;
    z-index: -1;
    transform: scale(0);
    transition: 0.5s;
  }
  .footer .footer-content .about .social-footer a:nth-child(1):before{
    background: #1877F2;
  }
  .footer .footer-content .about .social-footer a:nth-child(2):before{
    background: #55acee;
  }
  .footer .footer-content .about .social-footer a:nth-child(3):before{
    background: #0077b5;
  }
  .footer .footer-content .about .social-footer a:nth-child(4):before{
    background:  #FF0000;
  }
  .footer .footer-content .about .social-footer a:hover:before{
    transform: scale(1);
  }
  /* .footer .footer-content .links{
    padding-left: 40px;
  } */
  .footer .footer-content .links ul{
    padding-left: 40px;
    margin: 16px 0 16px 0;
  }
  .footer .footer-content .links ul a {
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em;
    text-decoration: none;
    color: red;
    transition: all .3s;
    width: 60px;
  }
  .footer .footer-content .links ul a:hover {
    color: white;
    margin-left: 15px;
    transition: all .3s;
    display: block;
  }
  /* .footer .footer-content .games{
    padding-left: 80px;
  } */
  .footer .footer-content .games ul{
    padding-left: 40px;
    margin: 16px 0 16px 0;
  }
  .footer .footer-content .games ul a {
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em;
    text-decoration: none;
    color: red;
    transition: all .3s;
    width: 60px;
  }
  .footer .footer-content .games ul a:hover {
    color: white;
    margin-left: 15px;
    transition: all .3s;
    display: block;
  }
  .copy-right{
    color: white;
    text-align: center;
    height: 30px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: #303036;
    display: flex;
    align-items: center;
    justify-content: center;
  }