@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
.nav{
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  box-sizing: border-box;
  box-shadow: 8px 8px 50px #000;
}
.nav .menu{
  list-style: none;
  display: flex;
  margin: 0;
}
.nav .menu .menu-item a{
  text-decoration: none;
  color: white;
  font-size: 17px;
  width: 150px;
  height: 55px;
  display: block;
}
.nav .menu .menu-item{
  list-style: none;
  width: 150px;
  height: 55px;
  line-height: 60px;
  text-align: center;
  cursor: pointer;
  list-style: none;
  border-radius: 10px;
}

/* .nav .menu .menu-item:hover{
  background: linear-gradient(to left, #3c00a7, #ce51e466);
  background: linear-gradient(to left, #3c00a7, #ce51e4d1);
} */
.nav .menu .menu-item:hover:nth-child(1){
  /* background: linear-gradient(to left, #3c00a7, #ce51e466); */
  border-top: 4px solid #000;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  border-left: 1px solid #000;
}
.nav .menu .menu-item:hover:nth-child(2){
  /* background: linear-gradient(to left, #3c00a7, #ce51e4d1); */
  border-top: 4px solid #000;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  border-left: 1px solid #000;
}
.nav .menu .menu-item:hover:nth-child(3){
  /* background: linear-gradient(to left, #3c00a7, #ce51e466); */
  border-top: 4px solid #000;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  border-left: 1px solid #000;
}
.nav .menu .menu-item:hover:nth-child(4){
  /* background: linear-gradient(to left, #3c00a7, #ce51e466); */
  border-top: 4px solid #000;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  border-left: 1px solid #000;
}
.nav .menu .menu-item:hover .submenu{
  display: block;
}
.submenu-item{
  list-style: none;
  width: 100%;
  height: 55px;
  box-sizing: border-box;
  border-radius: 10px;
}
.submenu-item:hover{
  background-color: rgba(0, 0, 0, 0.6);
  border-left: 4px solid rgba(450, 0, 60, 0.8);
}
.login-link{
  text-align: center;
}
.login-icon{
  font-size: 25px;
  color: white;
}
.submenu{
  display: none;
  position: absolute;
  width: 150px;
  background-color: rgba(0, 0, 0, 0.8);
  text-transform: none;
  z-index: 2;
  padding: 0;
  box-sizing: border-box;
  border-radius: 10px;
}
.container{
  min-width: 100%;
}
/* footer style */
.footer h1{
  font-size: 2em;
  text-align: left;
  text-indent:0;
}
.footer p{
  font-size: 1em;
  padding-top: 0;
  text-align: left;
}
.footer{
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  height: 290px;
  width: 100%;
  position: relative;
}
.footer .footer-content{
  height: 238px;
  /* border: 1px solid red; */
  display: flex;
}
.footer .footer-content .footer-section{
  flex: 1;
  /* border-left: 1px solid rgba(255, 255, 255, 0.3); */
  padding: 0 15px 0 20px;
}
.footer .footer-content h1{
  color: white;
  display: block;
  margin: 10px 0 10px 0;
}
hr{
  width: 100%;
  border: 1px solid #f00;
  margin: 8px 0 8px 0;
}
.footer .footer-content .about p{
  margin: 16px 0 16px 0;
}
.footer .footer-content .about .contact span{
  display: block;
  font-size: 1.1em;
  margin-bottom: 8px;
}
.footer .footer-content .about .social-footer{
  text-align: center;
  display: flex;
}
.footer .footer-content .about .social-footer a{
  width: 45px;
  height: 45px;
  font-size: 25px;
  margin-right: 15px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  text-decoration: none;
  color: red;
  transition: 0.5s;
  opacity: 1;
}
.footer .footer-content .about .social-footer a:hover{
  color: white;
}
.footer .footer-content .about .social-footer a:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  border-radius: 50%;
  z-index: -1;
  transform: scale(0);
  transition: 0.5s;
}
.footer .footer-content .about .social-footer a:nth-child(1):before{
  background: #1877F2;
}
.footer .footer-content .about .social-footer a:nth-child(2):before{
  background: #55acee;
}
.footer .footer-content .about .social-footer a:nth-child(3):before{
  background: #0077b5;
}
.footer .footer-content .about .social-footer a:nth-child(4):before{
  background:  #FF0000;
}
.footer .footer-content .about .social-footer a:hover:before{
  transform: scale(1);
}
/* .footer .footer-content .links{
  padding-left: 40px;
} */
.footer .footer-content .links ul{
  padding-left: 40px;
  margin: 16px 0 16px 0;
}
.footer .footer-content .links ul a {
  display: block;
  margin-bottom: 10px;
  font-size: 1.2em;
  text-decoration: none;
  color: red;
  transition: all .3s;
  width: 60px;
}
.footer .footer-content .links ul a:hover {
  color: white;
  margin-left: 15px;
  transition: all .3s;
  display: block;
}

/* .footer .footer-content .games{
  padding-left: 80px;
} */
.footer .footer-content .games ul{
  padding-left: 40px;
  margin: 16px 0 16px 0;
}
.footer .footer-content .games ul a {
  display: block;
  margin-bottom: 10px;
  font-size: 1.2em;
  text-decoration: none;
  color: red;
  transition: all .3s;
  width: 60px;
}
.footer .footer-content .games ul a:hover {
  color: white;
  margin-left: 15px;
  transition: all .3s;
  display: block;
}
.copy-right{
  color: white;
  text-align: center;
  height: 30px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: #303036;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section{
  position : relative ;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden ;
}
.section h1{
  text-align: center;
  font-size: 6rem;
  font-family: "PES";
  padding: 20px;
  margin: 15px;
  z-index: 1;
  opacity: 0.8;
}
.video-container{
  position : absolute;
  top:0 ;
  left: 0;
  width: 100%;
}
.color-overlay{
  position: absolute;
  top:0 ;
  left:0 ;
  background-color:lightblue ;
  width: 100%;
  height: 100vh;
  opacity: 0.5;
}
p,h1{
   font-size: 30px; 
   text-align: center;
    text-indent: 50px;
    letter-spacing: 3px;
    color: white;
}
body  {
background-image: url('../images/cover.jpeg');
background-position: center;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
min-height: 100px;
padding: 0px 0px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
  margin-left: 25%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
tr:nth-child(odd) {
  background-color: #9e8e8e;
}
.am{
  color: white;
  text-align: rtl;
  margin-left: 15%;
  font-size: 25px; 
  border: 5px solid rgb(8, 8, 8);
  padding: 100px;
  width: 200px;
  height: 1000px;
  text-align: justify;
}
.ad {
  text-align: rtl;
}
.p{
  font-family: "Lucida Console", "Courier New", monospace;
}
.section1{
  position : relative ;
  width:100%;
  height:100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden ;

}

/* .img1 ,.img2, .img3,.img4,.img5{
  width: 80%;
  margin-left: 10%;
}
.img2 img{
  width: 100%;
}
.img3 img{
  width: 100%;
}
.img4 img{
  width: 100%;
}
.img5 img{
  width: 100%;
} */
.img1 ,.img2 ,.img3 ,.img4 ,.img5{
  text-align: center;
  font-size: 6rem;
  padding: 20px;
  font-family: "PES";
  margin: 15px;
  z-index: 1;
  opacity: 0.8;
}
.slider{
  width: 100%;
  height: 600px;
  margin-bottom: 1%;
  border-radius: 10px;
  background-color: rgba(450, 0, 60, 0.8);
  overflow: hidden;
}
.slides{
  width: 100%;
  height: 600px;
  display: flex;
}
.slides input{
  display: none;
}
.slide{
  transition: 2s;
}
.slide img{
  height: 600px;
  width: 1137px;
}
.navigation-manual{
  position: absolute;
  margin-top: -40px;
  width: 1137px;
  display: flex;
  justify-content: center;
}
.manual-btn{
  border: 2px solid #000;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;

}
.manual-btn:not(:last-child){
  margin-right: 40px;
}
.manual-btn:hover{
  background: #000;
}
#radio1:checked ~ .first{
  margin-left: 0;

}
#radio2:checked ~ .first{
  margin-left: -1137px;
  
}
#radio3:checked ~ .first{
  margin-left: -2274px;
  
}
#radio4:checked ~ .first{
  margin-left: -3411px;
  
}
.navigation-auto{
  position: absolute;
  display: flex;
  width: 1137px;
  justify-content: center;
  margin-top: 560px;
}
.navigation-auto div{
  border: 2px solid #000;
  padding: 5px;
  border-radius: 10px;
}
.navigation-auto div:not(:last-child){
  margin-right: 40px;
}
#radio1:checked ~ .navigation-auto .auto-btn1{
  background: #000;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
  background: #000;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
  background: #000;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
  background: #000;
}